ion-content.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centra los elementos verticalmente */
  align-items: center;      /* Centra los elementos horizontalmente */
  height: 100vh;            /* Asegura que ocupe toda la altura de la pantalla */
}

ion-text {
  text-align: center;  /* Centra el texto */
  margin-bottom: 20px; /* Espacio entre el título y el botón */
}

ion-button {
  max-width: 80%;  /* Limita el tamaño del botón */
  margin-bottom: 20px; /* Espacio entre el botón y el QR */
}

.qr-container {
  display: flex;
  justify-content: center;  /* Centra el QR horizontalmente */
  align-items: center;      /* Centra el QR verticalmente */
  width: 100%;
}
