<ion-header>
  <ion-toolbar>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor para centrar el botón -->
  <div class="button-container">
    <ion-button expand="block" color="primary" (click)="scan()">Escanear QR</ion-button>
  </div>

  <!-- Resultado debajo del botón -->
  <div class="result-container" *ngIf="result">
    <ion-list>
      <ion-item>
        {{ result }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
