<ion-content [fullscreen]="true">

  <div class="ion-text-center">
    <h1>Login</h1>
  </div>

  <ion-card>

    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input placeholder="Ingresar usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input placeholder="Ingresar contraseña" type="password" ></ion-input>
    </ion-item>



  </ion-card>

  <ion-button expand="full">Ingresar</ion-button>
 
  <ion-card>

    <div class="ion-text-center">
      <ion-text color="primary">¿No tienes una cuenta? ¡¡Registrate!!</ion-text>
    </div>
  
  </ion-card>


  <div class="ion-text-center">
    <ion-text color="primary">¿Olvidaste tu contraseña?</ion-text>
  </div>

</ion-content>