ion-content.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 16px;
}

ion-list {
  width: 100%;
}

ion-item {
  margin-bottom: 15px;
}

.qr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
