<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h1>Registro</h1>
  </div>

  <ion-card>

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input placeholder="Ingresar Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Carrera</ion-label>
      <ion-input placeholder="Ingresar carrera"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rut</ion-label>
      <ion-input placeholder="Ingresar rut" inputmode="numeric"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input placeholder="Ingresar contraseña" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar Contraseña</ion-label>
      <ion-input placeholder="Confirme la contraseña" type="password"></ion-input>
    </ion-item>

  </ion-card>

  <ion-button expand="full">Registrarse</ion-button>

</ion-content>